<div class="container">
	<div class="nav">
		<ul class="nav nav-tabs">
			<li><%= link_to 'Home', root_url %></li>
			<li><%= link_to 'About <strong>BREW</strong>beacon'.html_safe, about_path %></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Profiles</a>
				<ul class="dropdown-menu">
					<li><a href="/about">About</a></li>
					<li class="divider"></li>
					<li><a href="login">Login / Register</a></li>
				</ul>
			</li>
			<li class="active"><a href="/brew_finder">Brew Finder</a></li>
			<li><a href="#">Home Brew</a></li>
		</ul>			
	</div>
	GOOGLE API
</div>